name: OpenTofu Destroy

on:
  workflow_dispatch:
    inputs:
      confirm_destroy:
        description: "Type YES to confirm destruction"
        required: true

jobs:
  destroy:
    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: "us-east-1"
      EXOSCALE_API_KEY: ${{ secrets.EXOSCALE_API_KEY }}
      EXOSCALE_API_SECRET: ${{ secrets.EXOSCALE_API_SECRET }}
      EXOSCALE_REGION: "at-vie-2"

    steps:
      - name: Check confirmation input
        if: ${{ github.event.inputs.confirm_destroy != 'YES' }}
        run: |
          echo "âŒ Confirmation failed. You must type YES to destroy."
          exit 1
      - name: Checkout main branch
        uses: actions/checkout@v4
        with:
          ref: main

      - name: Install Exoscale CLI
        run: |
          curl -sL https://github.com/exoscale/cli/releases/download/v1.97.0/exo-1.97.0-linux-amd64.tar.gz | tar xz
          sudo mv exo-1.97.0-linux-amd64 /usr/local/bin/exo

      - name: Authenticate with Exoscale
        run: |
          exo config init noninteractive \
            --api-key "${EXOSCALE_API_KEY}" \
            --api-secret "${EXOSCALE_API_SECRET}"

      - name: Fetch SKS kubeconfig and store
        run: |
          exo sks kubeconfig show my-cluster --zone $EXOSCALE_ZONE --admin > kubeconfig
          chmod 600 kubeconfig
          echo "KUBECONFIG=$(pwd)/kubeconfig" >> $GITHUB_ENV

      - name: Validate Kubernetes access
        run: |
          kubectl get nodes

      - name: Install OpenTofu
        uses: opentofu/setup-opentofu@v1
        with:
          tofu_version: 1.6.2

      - name: Initialize OpenTofu
        run: tofu init

      - name: Destroy with OpenTofu
        run: tofu destroy -auto-approve
