name: OpenTofu Destroy

on:
  workflow_dispatch:
    inputs:
      confirm_destroy:
        description: "Type YES to confirm destruction"
        required: true

jobs:
  destroy:
    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: "us-east-1"
      EXOSCALE_API_KEY: ${{ secrets.EXOSCALE_API_KEY }}
      EXOSCALE_API_SECRET: ${{ secrets.EXOSCALE_API_SECRET }}
      EXOSCALE_REGION: "at-vie-2"

    steps:
      - name: Check confirmation input
        if: ${{ github.event.inputs.confirm_destroy != 'YES' }}
        run: |
          echo "âŒ Confirmation failed. You must type YES to destroy."
          exit 1
      - name: Checkout main branch
        uses: actions/checkout@v4
        with:
          ref: main

      - name: Install Exoscale CLI
        continue-on-error: true
        run: |
          curl -fsSL https://raw.githubusercontent.com/exoscale/cli/master/install-latest.sh | sh

      - name: Fetch SKS kubeconfig and store
        continue-on-error: true
        run: |
          CLUSTER_NAME=$(exo compute sks list --zone at-vie-2 --output-format json | jq -r '.[0].name')
          exo compute sks kubeconfig $CLUSTER_NAME admin --zone at-vie-2 > kubeconfig
          chmod 600 kubeconfig
          echo "KUBECONFIG=$(pwd)/kubeconfig" >> $GITHUB_ENV

      - name: Validate Kubernetes access
        continue-on-error: true
        run: |
          kubectl get nodes

      - name: Install OpenTofu
        uses: opentofu/setup-opentofu@v1
        with:
          tofu_version: 1.6.2

      - name: Initialize OpenTofu
        run: tofu init

      - name: Destroy with OpenTofu
        run: |
          tofu destroy -target=helm_release.argo_cd -auto-approve
          tofu destroy -auto-approve
